<!DOCTYPE html>
<!--
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements.  See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership.  The ASF licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License.  You may obtain a copy of the License at
 
 http://www.apache.org/licenses/LICENSE-2.0
 
 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied.  See the License for the
 specific language governing permissions and limitations
 under the License.
 -->
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta id="myViewport" name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, target-densitydpi=device-dpi"  />
        <link rel="stylesheet" type="text/css" href="css/index.css" />
        <title>Postkort</title>        
    </head>
    <body>
        <!-- TEMPLATES -->
        <script id="previous_card_tpl" type="text/x-handlebars-template">
            <div class="{{ class }}" style="z-index: {{ zIndex }}">
                <div class="previous_card_canvas_wrapper">
                    <canvas id="{{ id }}"></canvas>
                    <div class="previous_card_loader"><img src="img/loader.gif" /></div>
                </div>
            </div>
        </script>
        
        <script id="previous_card_list_item_tpl" type="text/x-handlebars-template">
            <div id="previous_card_list_item_{{ id }}" class="{{ class }}" style="z-index: {{ zIndex }}">
                <div class="previous_card_info">
                    <h3 class="previous_card_date">{{ orderedDate }}</h3>
                    <h3 class="previous_card_info_text">{{ infoText }}</h3>
                    <p class="previous_card_text">{{ text }}</p>
                </div>
                <div class="list_arrow"></div>
            </div>
        </script>
        
        <script id="address_list_item_tpl" type="text/x-handlebars-template">
            <li class="list_item {{ class }}">
                <span class="name">{{ name }}</span>
                <br />
                <span class="address">{{ street }}, {{ postCode }}</span>
                <div class="list_arrow"></div>
            </li>
        </script>
        
        <script id="number_of_images_item_tpl" type="text/x-handlebars-template">
            <div id="number_of_images_{{ id }}" class="number_of_images_btn"></div>
        </script>
        
        <script id="image_tpl" type="text/x-handlebars-template">
            <div id="image_{{ id }}" class="image">
                <canvas id="image_canvas_{{ id }}" class="image_canvas"></canvas>
                <div class="edit_image_btn"></div>
            </div>
        </script>
        <!-- TEMPLATES -->
        
        <!-- TRIGGER CUSTOM FONT LOADING -->
        <span style="font-family: F3, F6, F5, F9, F50, F53, F48;visibility:hidden;position:absolute;">&nbsp;</span>
        <!-- TRIGGER CUSTOM FONT LOADING -->
        
        <!-- NAVIGATION -->
        <div id="navigation">
            <div id="nav_left_btn" class="nav_arrow_btn"></div>
            <div id="nav_btns">
                <div id="nav_home_btn" class="nav_btn"></div>
                <div id="nav_card_btn" class="nav_btn"></div>
                <div id="nav_write_btn" class="nav_btn"></div>
                <div id="nav_send_btn" class="nav_btn"></div>
            </div>
            <div id="nav_right_btn" class="nav_arrow_btn"></div>
            <h2 id="navigation_header">Kvittering</h2>
        </div>
        <!-- NAVIGATION -->
        
        <!-- MESSAGE -->
        <div id="message"></div>
        <!-- MESSAGE -->

        <!-- LOADER -->
        <div id="loader">
            <div id="loader_text">
                <span></span>
                <br />
                <br />
                <img src="img/loader.gif" />
            </div>
        </div>
        <!-- LOADER -->
      
      
        <!-- START -->
        <div id="start" class="overlay stage-top">
            <div class="vertical_center">
                <div id="info_box" style='background-color:#fff;width:280px;height:340px;position:absolute;top:-60px;left:10px;padding: 10px 10px 10px 10px;'><p>
                <b>Kjære bruker!<b><br><br>
                Appen dere benytter til å sende postkort til venner og kjente har skiftet eier, og er fra 01.januar 2016 eiet av Postkort Norge AS.<br><br>
                Innholdet i Appen er akkurat det samme som før, og deres historikk og kundedata følger med videre med ny eier.
                Om dere ønsker å avslutte deres kundeforhold, slett appen. Om dere ønsker å fortsette å benytte appen – trykk «Aksepter».<br><br>
                Vi ser frem til et godt videre kundeforhold til dere, og til å hjelpe dere med dele minner og øyeblikk med venner, kjente og familie.</p>
                <center><br><button id="info_btn" type="button" style="background-color: #f44336; border: none;
                    color: white;
                    padding: 15px 32px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    font-size: 16px;">Aksepter</button></center>
                
                </div>
                <h1>Velkommen til <br>Postkort-app</h1>
                <input id="rebate_code" type="text" value="Kampanjekode (hvis du har)" />
                <div id="start_btn"></div>
            </div>
        </div>
        <!-- START -->
        
        <!-- HOME -->
        <div id="home" class="step">
            <div id="new_card_btn"></div>
            <p>Fortsett på et tidligere kort?</p>
            <div id="previous_cards" class="clearfix"></div>
            <div id="previous_cards_btn"></div>
            <div id="previous_cards_list" class="overlay">
            </div>
        </div>
        <!-- HOME -->
        
        <!-- START NEW CARD -->
        <div id="card" class="step">
            <div class="vertical_center">
                <div id="one_image_btn"></div>
                <div id="multiple_images_btn"></div>
            </div>
        </div>
        <!-- START NEW CARD -->
        
        <!-- CARD TYPES -->
        <div id="card_types" class="step">
            <div class="vertical_center">
                <div id="simple" class="card_type_btn"></div>
                <div id="rectangle" class="card_type_btn"></div>
                <div id="rugged" class="card_type_btn"></div>
                <!--<div id="random" class="card_type_btn"></div>-->
            </div>
        </div>
        <!-- CARD TYPES -->
        
        <!-- NUMBER OF IMAGES -->
        <div id="number_of_images" class="step">
            <div class="vertical_center">
            </div>
        </div>
        <!-- NUMBER OF IMAGES -->
        
        <!-- ADD IMAGES -->
        <div id="add_images" class="step">
            <div id="add_images_card_container">
                <div class="card_container"></div>
                <div class="card_overlay"></div>
            </div>
            <div id="add_edit_image" class="overlay">
                <div id="center_buttons">
                    <div id="camera_btn"></div>
                    <div id="library_btn"></div>
                    <div id="edit_image_btn"></div>
                </div>
                <div class="cancel_btn"></div>
            </div>
        </div>
        <!-- ADD IMAGES -->
        
        <!-- EDIT IMAGES -->
        <div id="edit_images" class="step">
            <div id="edit_image_container">
                <canvas id="edit_image_canvas"></canvas>
                <div id="edit_frame">
                    <div id="edit_frame_top_left" class="edit_frame_corner"></div>
                    <div id="edit_frame_top_right" class="edit_frame_corner"></div>
                    <div id="edit_frame_bottom_right" class="edit_frame_corner"></div>
                    <div id="edit_frame_bottom_left" class="edit_frame_corner"></div>
                </div>
                <div id="edit_image_hand"></div>
            </div>
            <div id="edit_image_menu">
                <div id="slider"></div>
                <div id="rotate_btn"></div>
                <div id="center_btn"></div>
            </div>
        </div>
        <!-- EDIT IMAGES -->
        
        <!-- EDIT CARD -->
        <div id="edit_card" class="step">
            <div id="edit_card_container">
                <div class="card_container"></div>
                <div class="card_overlay"></div>
                <div class="card_frame"></div>
            </div>
            <div id="edit_card_menu">
                <div id="edit_card_menu_btns">
                    <div id="bw_btn"></div>
                    <div id="rotate_effects_btn"></div>
                    <div id="preview_btn"></div>
                </div>
                <div id="card_frames_wrapper">
                    <ul id="card_frames">
                        <li><img src="img/frames/frame_0_btn.png" id="frame_0" class="frame_btn"></li>
                        <li><img src="img/frames/frame_13_btn.png" id="frame_13" class="frame_btn"></li>
                        <li><img src="img/frames/frame_1_btn.png" id="frame_1" class="frame_btn"></li>
                        <li><img src="img/frames/frame_2_btn.png" id="frame_2" class="frame_btn"></li>
                        <li><img src="img/frames/frame_3_btn.png" id="frame_3" class="frame_btn"></li>
                        <li><img src="img/frames/frame_4_btn.png" id="frame_4" class="frame_btn"></li>
                        <li><img src="img/frames/frame_5_btn.png" id="frame_5" class="frame_btn"></li>
                        <li><img src="img/frames/frame_6_btn.png" id="frame_6" class="frame_btn"></li>
                        <li><img src="img/frames/frame_7_btn.png" id="frame_7" class="frame_btn"></li>
                        <li><img src="img/frames/frame_8_btn.png" id="frame_8" class="frame_btn"></li>
                        <li><img src="img/frames/frame_9_btn.png" id="frame_9" class="frame_btn"></li>
                        <!--<li><img src="img/frames/frame_10_btn.png" id="frame_10" class="frame_btn"></li>-->
                        <li><img src="img/frames/frame_11_btn.png" id="frame_11" class="frame_btn"></li>
                        <li><img src="img/frames/frame_12_btn.png" id="frame_12" class="frame_btn"></li>
                        <li><img src="img/frames/frame_14_btn.png" id="frame_14" class="frame_btn"></li>
                        <li><img src="img/frames/frame_15_btn.png" id="frame_15" class="frame_btn"></li>
                        <li><img src="img/frames/frame_17_btn.png" id="frame_17" class="frame_btn"></li>
                        <li><img src="img/frames/frame_19_btn.png" id="frame_19" class="frame_btn"></li>
                        <li><img src="img/frames/frame_20_btn.png" id="frame_20" class="frame_btn"></li>
                        <li><img src="img/frames/frame_21_btn.png" id="frame_21" class="frame_btn"></li>
                        <li><img src="img/frames/frame_22_btn.png" id="frame_22" class="frame_btn"></li>
                        <li><img src="img/frames/frame_23_btn.png" id="frame_23" class="frame_btn"></li>
                        <li><img src="img/frames/frame_24_btn.png" id="frame_24" class="frame_btn"></li>
                        <li><img src="img/frames/frame_25_btn.png" id="frame_25" class="frame_btn"></li>
                        <li><img src="img/frames/frame_26_btn.png" id="frame_26" class="frame_btn"></li>
                        <li><img src="img/frames/frame_27_btn.png" id="frame_27" class="frame_btn"></li>
                        <li><img src="img/frames/frame_28_btn.png" id="frame_28" class="frame_btn"></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- EDIT CARD -->
        
        <!-- EDIT CARD PREVIEW -->
        <div id="edit_preview" class="overlay">
            <div id="edit_preview_container">
                <div class="card_container"></div>
                <div class="card_overlay"></div>
                <div class="card_frame"></div>
            </div>
            <div id="edit_preview_close_btn"></div>
        </div>
        <!-- EDIT CARD PREVIEW -->
        
        <!-- WRITE/EDIT TEXT -->
        <div id="write_text" class="step">
            <div id="write_text_card_background" class="">
                <textarea id="text"></textarea>
                <div id="text_rows"></div>
            </div>
            <div id="edit_text_menu_btn"></div>
            <div id="edit_text_menu">
                <div id="edit_text_font">
                    <img id="font_3" class="font_btn" src="img/fonts/font_3.png"></img>
                    <img id="font_6" class="font_btn" src="img/fonts/font_6.png"></img>
                    <img id="font_5" class="font_btn" src="img/fonts/font_5.png"></img>
                    <img id="font_9" class="font_btn" src="img/fonts/font_9.png"></img>
                    <img id="font_50" class="font_btn" src="img/fonts/font_50.png"></img>
                    <img id="font_53" class="font_btn" src="img/fonts/font_53.png"></img>
                    <img id="font_48" class="font_btn" src="img/fonts/font_48.png"></img>
                </div>
                <div id="edit_text_color">
                    <img id="color_56" class="color_btn" src="img/colors/color_56.png"></img>
                    <img id="color_57" class="color_btn" src="img/colors/color_57.png"></img>
                    <img id="color_50" class="color_btn" src="img/colors/color_50.png"></img>
                    <img id="color_51" class="color_btn" src="img/colors/color_51.png"></img>
                    <img id="color_52" class="color_btn" src="img/colors/color_52.png"></img>
                    <img id="color_53" class="color_btn" src="img/colors/color_53.png"></img>
                    <img id="color_54" class="color_btn" src="img/colors/color_54.png"></img>
                    <img id="color_55" class="color_btn" src="img/colors/color_55.png"></img>
                </div>
                <div id="edit_text_size">
                    <img id="decrease" class="change_text_size_btn" src="img/text_decrease_btn.png"></img>
                    <img id="increase" class="change_text_size_btn" src="img/text_increase_btn.png"></img>
                </div>
                <div id="edit_text_align">
                    <img id="text_align_0" class="change_text_align_btn" src="img/align_left.png"></img>
                    <img id="text_align_1" class="change_text_align_btn" src="img/align_center.png"></img>
                    <img id="text_align_2" class="change_text_align_btn" src="img/align_right.png"></img>
                </div>
            </div>
        </div>
        <!-- WRITE/EDIT TEXT -->
        
        <!-- WRITE ADDRESS -->
        <div id="write_address" class="step">
            <div id="write_address_card_background" class="card_background"></div>
            <div class="address_info">
                <p class="address_info_number">INGEN MOTTAKERE</p>
                <p class="address_info_text">NB: Kun til adresser i Norge</p>
            </div>        
            <div id="write_address_menu">
                <div id="write_address_btn"></div>
                <div id="search_address_btn"></div>
            </div>
            <div id="add_address" class="overlay">
                <div class="vertical_center">
                    <input type="text" value="Navn" id="add_name_input" />
                    <input type="text" value="Gateadresse" id="add_street_input" />
                    <input type="text" value="Postnummer og sted" id="add_post_code_input" />
                    <div class="buttons_container clearfix">
                        <div class="back_btn"></div>
                        <div id="add_address_btn" class="ok_btn"></div>
                    </div>
                </div>
            </div>            
            <div id="search_address" class="overlay">
                <div class="vertical_center">
                    <div id="search_contacts_btn"></div>
                    <input type="text" value="Fornavn" id="search_first_name">
                    <input type="text" value="Etternavn" id="search_last_name">
                    <input type="text" value="Sted" id="search_city">
                    <input type="text" value="Telefonnummer" id="search_phone">
                    <div class="buttons_container clearfix">
                        <div class="back_btn"></div>
                        <div id="search_btn"></div>
                    </div>
                </div>
            </div>
            <div id="search_address_result_list" class="overlay">
                <ul>
                </ul>
            </div>
        </div>
        <!-- WRITE ADDRESS -->
        
        <!-- PREVIEW -->
        <div id="preview" class="step">
            <div class="flip">
                <div id="preview_card_holder" class="card">
                    <div id="preview_card_container" class="face front flip_card_btn">
                        <div class="card_container"></div>
                        <div class="card_overlay"></div>
                        <div class="card_frame"></div>
                        <div class="preview_turn_btn flip_card_btn"></div>
                    </div>
                    <div id="preview_card_backside" class="face back card_background flip_card_btn">
                        <div id="preview_text"></div>
                        <div class="address_info">
                            <p class="address_info_number">INGEN MOTTAKERE</p>
                            <p class="address_info_text">NB: Kun til adresser i Norge</p>
                        </div>
                        <div class="preview_turn_btn flip_card_btn"></div>
                    </div>
                </div>
            </div>
            <div id="address_list">
                <h2 class="list_heading">Mottakere:</h2>
                <ul>
                </ul>
            </div>
            <div id="edit_address" class="overlay">
                <div class="vertical_center">
                    <input type="text" value="Navn" id="edit_name_input" />
                    <input type="text" value="Gateadresse" id="edit_street_input" />
                    <input type="text" value="Postnummer og sted" id="edit_post_code_input" />
                    <div class="buttons_container clearfix">
                        <div id="delete_address_btn" class="delete_btn"></div>
                        <div id="edit_address_btn" class="ok_btn"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- PREVIEW -->
        
        <!-- DELIVERY DATE -->
        <div id="delivery_date" class="step">
            <div id="calendar">
                <div id="calendar_header">
                    <div id="calendar_month"></div>
                    <div id="calendar_left_btn"></div>
                    <div id="calendar_right_btn"></div>
                </div>
                <table id="calendar_table">
                    <tr id="calendar_days">
                        <td>MAN</td>
                        <td>TIRS</td>
                        <td>ONS</td>
                        <td>TORS</td>
                        <td>FRE</td>
                        <td>L&Oslash;R</td>
                        <td>S&Oslash;N</td>
                    </tr>
                </table>
            </div>
            <!--<div id="pick_delivery_date_btn"></div>-->
        </div>
        <!-- DELIVERY DATE -->
        
        <!-- PREVIEW SEND -->
        <div id="preview_send" class="step">
            <div id="preview_send_card_container">
                <div class="card_container"></div>
                <div class="card_overlay"></div>
                <div class="card_frame"></div>
            </div>
            <div id="basket">
                <div class="basket_info"></div>
                <div class="basket_price"></div>
            </div>
        </div>
        <!-- PREVIEW SEND -->
        
        <!-- PAYMENT -->
        <div id="payment" class="step">
            <input type="text" value="Ditt fornavn" id="payment_first_name" />
            <input type="text" value="Ditt etternavn" id="payment_last_name" />
            <input type="text" value="Din e-post" id="payment_email" class="lowercase" autocapitalize="off" />
            <input type="text" id="payment_rebate_code" disabled="disabled" />
            <div id="payment_agree" class="clearfix">
                <div id="payment_agree_check"></div>
                <div id="payment_agree_text" class="payment_agree_btn">
                    <p>Jeg har lest og godtatt</p>
                    <p style="text-decoration:underline">pris- og leveransebetingelsene</p>
                </div>
            </div>
            <div id="payment_ok_btn"></div>
            <div id="payment_info">Du kan betale med VISA og Mastercard</div>
            <div id="price_terms" class="overlay">
                <h1>Priser</h1>
                <p>Følgende priser (inkl. mva) gjelder for bestilling og utsendelse av "Postkort" gjenom Postkort Norge AS:</p>
                <p>Vanlig A6 postkort(standard) kr 21.-</p>
                <p>Kan kun sendes til norske mottakere</p>
                <p>Betaling skjer med betalingskort (VISA, Mastercard). </p>
                <p>Netaxept EasyPayment lagrer din kortinformasjon kryptert og sikkert hos NETS slik at du slipper å taste inn dine kortdata hver gang du benytter løsningen. Informasjonen kan kun benyttes til å kjøpe postkort fra din mobiltelefon ved at du for hvert kjøp taster inn din personlige sikkerhetskode (CVV/CVC/CID).</p>
                <h1>Leveranse</h1>
                <p>Bestillinger som er bestilt og betalt innen kl. 12.00 på hverdager, leveres senest innen 2 dager. Kort som bestilles/betales på hverdager etter kl. 12.00 leveres senest innen dag 3. Kort som bestilles/betales på helg vil bli levert senest innen dag 3. Som helg regnes også julaften, nyttårsaften og 17. mai. Kort som bestilles for levering en senere dato enn ovenstående, vil bli levert i henhold til ønske.</p>
                <p>Postkort Norge tar ikke ansvar for at den adresse du påfører er korrekt. Ved feil adresse oppstått gjennom bruk av vår adressetjenste "Søk adresser" er vi kun ansvarlige for sum begrenset oppad til kostnad for kjøp av Postkort.</p>
            <div id="price_terms_ok_btn"></div>
            </div>
        </div>
        <!-- PAYMENT -->
        
        <!-- PAYMENT NEX -->
        <div id="payment_netaxept" class="step">
            <p id="payment_netaxept_info">
            NB! Vær oppmerksom på at transaksjonen tar noen sekunder - trykk kun én gang på Betal-knappen.
            </p>
            <div id="payment_netaxept_iframe_container">
            <iframe id="payment_netaxept_iframe" frameborder="0"></iframe>
                </div>
            <!--<div id="payment_netaxept_back_btn"></div>-->
        </div>
        <!-- PAYMENT NEX -->
        
        <!-- RECIEPT -->        
        <div id="reciept" class="step">
            <div id="reciept_basket">
                <div id="reciept_basket_text">
                    Takk for din postkort-bestilling!<br/>
                    Kvittering for kjøpet sendes deg på e-post.
                </div>
                <div class="basket_info"></div>
                <div class="basket_price"></div>
            </div>
            <div id="facebook_btn"></div>
            <div id="twitter_btn"></div>
            <div id="send_more_btn"></div>
        </div>
        <!-- RECIEPT -->
        
        <script type="text/javascript" src="cordova.js"></script>
        <script type="text/javascript" src="js/jquery-2.0.2.min.js"></script>
        <script type="text/javascript" src="js/jquery-css-transform.js"></script>
        <script type="text/javascript" src="js/jQueryRotateCompressed.js"></script>
        <script type="text/javascript" src="js/caman.full.min.js"></script>
        <script type="text/javascript" src="js/handlebars.js"></script>
        <script type="text/javascript" src="js/cardTypes.js"></script>
        <script type="text/javascript" src="js/objects.js"></script>
        <script type="text/javascript" src="js/storage.js"></script>
        <script type="text/javascript" src="js/functions.js"></script>
        
        <script type="text/javascript" src="js/steps/home.js"></script>
        <script type="text/javascript" src="js/steps/card.js"></script>
        <script type="text/javascript" src="js/steps/write.js"></script>
        <script type="text/javascript" src="js/steps/send.js"></script>
        
        <script type="text/javascript" src="js/index.js"></script>
        <script type="text/javascript">
            app.initialize();
        </script>
    </body>
</html>
