@font-face { font-family: F3; src: url('../fonts/arial.ttf'); } 
@font-face { font-family: F6; src: url('../fonts/Handwriting3.ttf'); } 
@font-face { font-family: F5; src: url('../fonts/Handwriting2.ttf'); } 
@font-face { font-family: F9; src: url('../fonts/StreetCorner.ttf'); } 
@font-face { font-family: F50; src: url('../fonts/brush2.ttf'); }
@font-face { font-family: F53; src: url('../fonts/thegreateescape.ttf'); }
@font-face { font-family: F48; src: url('../fonts/tt.ttf'); }

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    width: 320px;
    height: 480px;
    margin: 0px;
    padding: 0px;
    background-color: #E4E4E4;
    background-image: url('../img/app_bg.png');
    background-size: 100% !important;
    font-family: Arial, sans-serif;
    font-size: 12px;
}


h2 {
    margin: 0;
    padding: 0;
}

h3 {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #4d4f53;
}

p {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 13px;
    color: #4d4f53;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul li {
    height: 40px;
    margin: 0;
    padding: 10px;
    display: block;
    position: relative;
    background-color: #fff;
    border-bottom: 1px solid #e9e9e9;
}

ul li:last-child { border: 0; }
ul li:first-child { border-bottom: 1px solid #E9E9E9; }

.list_arrow {
    width: 7px;
    height: 14px;
    margin-top: -4px;
    position: absolute;
    right: 15px;
    top: 50%;
    background: url('../img/list_arrow.png') no-repeat;
    background-size: 100% !important;
}

.list_heading {
    padding: 10px;
    background-color: #4d4f53;
    font-size: 17px;
    font-weight: bold;
    color: #fff;
}

input[type="text"] {
    width: 290px;
    height: 45px;
    margin: 8px auto;
    padding: 0;
    padding-left: 10px;
    display: block;
    border: 0;
    font-size: 12px;
    line-height: 45px;    
    color: #4D4F53;
    -webkit-box-shadow: 1px 1px 2px #fff;
    -webkit-border-radius: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

#navigation {
    width: 320px;
    height: 77px;
    margin: 0;
    padding: 0;
    background: url('../img/nav_bg.png') repeat-x;
    background-size: 320px 77px;
    position: relative;
    overflow: hidden;
}

.nav_arrow_btn {
    width: 42px;
    height: 42px;
    position: absolute;
    background: url('../img/nav_arrow_btns.png') no-repeat;
    background-size: 84px 126px;
}

#nav_left_btn {    
    background-position: 0px -42px;
    top: 14px;
    left: -1px;
}

#nav_right_btn {
    background-position: -42px -42px;  
    top: 14px;
    right: -1px;
}

#nav_btns {
    width: 215px;
    height: 70px;
    margin: 0 auto;
    background-size: 100% !important;
}

.nav_btn {
    float: left;
}

#nav_home_btn {
    width: 48px;
    height: 70px;
    background: url('../img/nav_btns.png') 0px 0px no-repeat;
    background-size: 215px 210px;
}

#nav_card_btn {
    width: 60px;
    height: 70px;
    background: url('../img/nav_btns.png') -48px 0px no-repeat;
    background-size: 215px 210px;
}

#nav_write_btn {
    width: 47px;
    height: 70px;
    background: url('../img/nav_btns.png') -108px 0px no-repeat;
    background-size: 215px 210px;
}

#nav_send_btn {
    width: 60px;
    height: 70px;
    background: url('../img/nav_btns.png') -155px 0px no-repeat;
    background-size: 215px 210px;
}

#navigation_header {
    margin: 0;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    display: block;
}

#message {
    width: 100%;
    height: 9px;
    padding: 8px 0 8px 0;
    display: none;
    position: absolute;
    top: 70px;
    z-index: 50;
    background-color: #fff;
    opacity: 0.75;
    font-family: Arial, sans-serif;
    font-size: 13px;
    color: #4d4f53;
    text-align: center;
}

#loader {
    width: 320px;
    height: 480px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 99;
    display: none;
}

#loader_text {
    width: 200px;
    height: 25px;
    margin-left: -100px;
    position: absolute;
    top: 25%;
    left: 50%;    
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    color: #fff;
}

#loader_text img {
    width: 24px;
    height: auto;
}

.step {
    width: 320px;
    min-height: 390px;
    position: absolute;
    top: 70px;
    display: none;
    overflow: hidden;
    -webkit-transform: translate3d(0,0,0);    
}

.overlay {
    width: 320px;
    min-height: 390px;
    position: absolute;
    top: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 98;
    display: none;
    overflow: hidden;
    -webkit-transform: translate3d(0,0,0);
}
 
.stage-center {
    left: 0;
}
 
.stage-left {
    left: -320px;
}
 
.stage-right {
    left: 320px;
}

.stage-top {
    top: 0;
}
 
.stage-bottom {
    top: 100%;
}
 
.transition {
    -moz-transition-duration: .375s;
    -webkit-transition-duration: .375s;
    -o-transition-duration: .375s;
}

#start {
    width: 320px;
    height: 460px;
    position: absolute;
    background-color: #ff0000;
    background: url('../img/start_bg.jpg');
    background-size: 100% !important;
    display: block;
}

#start h1 {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-align: center;
}

#start_btn {
    width: 265px;
    height: 67px;
    margin: 0 auto;
    background: url('../img/start_btn.png') no-repeat;
    background-size: 100% !important;
}

#rebate_code {
    width: 251px;
}

#home {
    
}

#home > p {
    width: 288px;
    margin: 0 auto;
}

#one_image_btn {
    width: 273px;
    height: 205px;
    margin-top: 30px;
    margin-left: 5px;
    position: relative;
    float: left;
    background: url('../img/one_image_btn.png') no-repeat;
    background-size: 100% !important;
    z-index: 2;
}

#multiple_images_btn {
    width: 277px;
    height: 205px;
    margin-top: -50px;    
    margin-right: 5px;
    position: relative;   
    float: right;
    background: url('../img/multiple_images_btn.png') no-repeat;
    background-size: 100% !important;
    z-index: 1;
}

#new_card_btn {
    width: 307px;
    height: 227px;
    margin: 0 auto;
    background: url('../img/new_card_btn.png') no-repeat;
    background-size: 100% !important;
}

#previous_cards {
    width: 288px;
    margin: 0 auto;
}

.previous_card_canvas_wrapper {
    width: 82px;
    height: 58px;
    -webkit-transform: rotateZ(-2deg);
    -webkit-backface-visibility: hidden;
    padding: 2px;
}

.previous_card_canvas_wrapper canvas {
    width: 82px;
    height: 58px;
    position: absolute;
    top: 8px;
    left: 8px;
    -webkit-backface-visibility: hidden;
    padding: 2px;
}

.previous_card_background {
    width: 100px;
    height: 72px;
    margin-left: -28px;
    position: relative;
    float: left;
    background: url('../img/previous_card_shadow.png') no-repeat;
    background-size: 100% !important;
}

#previous_cards_btn {
    width: 305px;
    height: 69px;
    margin: 0 auto;
    background: url('../img/previous_cards_btn.png') no-repeat;
    background-size: 100% !important;
}

#previous_cards_list {
    width: 320px;
    height: 100%;
    display: none;
    background-color: #fff;
    color: #666;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.previous_card_list_item:first-child {
    border-top: 1px solid #e9e9e9;
}

.previous_card_list_item, .last_card_not_uploaded_item {
    width: 320px;
    height: 62px;
    position: relative;
    z-index: 1;
    background-color: #fff;
    border-bottom: 1px solid #e9e9e9;
}

.previous_card_image, .last_card_not_uploaded {
    width: 100px;
    height: 72px;
    position: absolute;
    z-index: 2;
    background: url('../img/previous_card_shadow.png') no-repeat;
    background-size: 100% !important;
}

.previous_card_info {
    width: 160px;
    padding: 10px;
    position: absolute;
    left: 100px;
}

.previous_card_info_text {
    position: absolute;
    top: 10px;
    right: -10px;
    color: #ff0000;
}

.previous_card_text {
    width: 180px;
    height: 30px;
    overflow: hidden;
}

.previous_card_loader {
    margin-left: -6px;
    margin-top: -6px;
    position: absolute;
    top: 50%;
    left: 50%;
}

.previous_card_loader img {
    width: 24px;
    height: auto;
}

#card_types {
    height: 200px;
}

.card_type_btn {
    position: relative;
    background-size: 100% !important;
} 

#simple {
    width: 211px;
    height: 160px;
    margin-left: 100px;
    z-index: 4;
    background: url('../img/simple_card_btn.png') no-repeat;
}

#rectangle {
    width: 211px;
    height: 160px;
    margin-top: -80px;
    margin-left: 10px;
    z-index: 3;
    background: url('../img/rectangle_card_btn.png') no-repeat;
}

#rugged {
    width: 220px;
    height: 161px;
    margin-top: -70px;
    margin-left: 90px;
    z-index: 2;
    background: url('../img/rugged_card_btn.png') no-repeat;
}

#random {
    width: 220px;
    height: 161px;   
    margin-top: -70px;
    margin-left: 10px;
    z-index: 1;
    background: url('../img/random_card_btn.png') no-repeat;
}

#number_of_images {
    padding-top: 10px;
    display: none;
}

.number_of_images_btn {
    width: 185px;
    height: 136px;
    background-size: 100% !important;    
}

#number_of_images_2 {
    z-index: 1;
}

#number_of_images_3 {
    margin-top: -60px;
    margin-left: 135px;
    z-index: 2;
}

#number_of_images_4 {
    margin-top: -60px;
    z-index: 3;
}

#number_of_images_5 {
    margin-top: -60px;
    margin-left: 135px;
    z-index: 4;
}

.card_container {
    width: 317px;
    height: 230px;
    position: absolute;
    background-size: 100% !important;
}

.card_overlay {
    width: 300px;
    height: 213px;
    margin-top: 8px;
    margin-left: 8px;
    position: absolute;
    background-size: 100% !important;
    pointer-events: none;
}

.card_frame {
    width: 300px;
    height: 213px;
    margin-top: 8px;
    margin-left: 8px;
    position: absolute;
    background-size: 100% !important;
}

.card_background {
    background: url('../img/backside_bg.png') no-repeat 0px 0px;
    background-size: 100% !important;
}

.image {
    position: absolute;
}

.image_canvas {
    width: 100%;
    height: 100%;
}

.edit_image_btn {
    display: none;
}

.edit_image_large {
    width: 45px;
    height: 63px;
    margin-top: -32px;
    margin-left: -22px;
    position: absolute;
    top: 50%;
    left: 50%;
    background: url('../img/change_image_btn.png') no-repeat;
    background-size: 100% !important;
    pointer-events: none;
    display: none;
}

.edit_image_small {
    width: 34px;
    height: 35px;
    margin-top: -17px;
    margin-left: -17px;
    position: absolute;
    top: 50%;
    left: 50%;
    background: url('../img/change_image_small_btn.png') no-repeat;
    background-size: 100% !important;
    pointer-events: none;
    display: none;
}

#add_images {

}

#add_images_card_container {
    width: 317px;
    height: 230px;
    margin-top: -115px;
    margin-left: -159px;
    position: absolute;
    top: 50%;
    left: 50%;
}

#add_edit_image { 
    position: absolute;
}

#center_buttons {
    width: 100%;
    margin-top: -20px;
    position: absolute;
    top: 30%;
}

#camera_btn {
    width: 150px;
    height: 68px;
    margin: 0 auto;
    background: url('../img/camera_btn.png') no-repeat;
    background-size: 100% !important;
}

#library_btn {
    width: 150px;
    height: 68px;
    margin: 0 auto;
    background: url('../img/library_btn.png') no-repeat;
    background-size: 100% !important;
}

#edit_image_btn {
    width: 150px;
    height: 68px;
    margin: 0 auto;
    background: url('../img/edit_image_btn.png') no-repeat;
    background-size: 100% !important;
    display: none;
}

.cancel_btn {
    width: 150px;
    height: 36px;
    margin-left: -75px;
    position: absolute;
    left: 50%;
    bottom: 40px;
    background: url('../img/cancel_btn.png') no-repeat;
    background-size: 100% !important;
}

#edit_images {
    display: none;
}

#edit_image_container {
    width: 320px;
    height: 305px;
    position: relative;
    overflow: hidden;
}

#edit_image_canvas {
    position: absolute;
    top: 50%;
    left: 50%;
}

#edit_image_menu {
    width: 320px;
    height: 84px;
    position: absolute;
    bottom: 0;
    background: url('../img/edit_image_menu_bg.png') no-repeat;
    background-size: 100% !important;
}

#edit_frame {
    width: 280px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    pointer-events: none;
}

.edit_frame_corner {
    width: 64px;
    height: 64px;
    background: url('../img/zoom_frame.png') no-repeat;
    background-size: 256px 64px;
}

#edit_frame_top_left { 
    position: absolute;
    top: -12px;
    left: -12px;
    background-position: -64px 0px;
}

#edit_frame_top_right { 
    position: absolute;
    top: -12px;
    right: -12px;
    background-position: -128px 0px; 
}

#edit_frame_bottom_left { 
    position: absolute;
    bottom: -12px;
    left: -12px;
    background-position: 0px 0px; 
}

#edit_frame_bottom_right { 
    position: absolute;
    bottom: -12px;
    right: -12px;
    background-position: -192px 0px; 
}

#edit_image_hand {
    width: 42px;
    height: 61px;
    margin-left: -21px;
    margin-top: -30px;
    position: absolute;
    top: 50%;
    left: 50%;
    background: url('../img/zoom_hand.png') no-repeat;
    background-size: 100% !important;
}

#slider {
    width: 44px;
    height: 36px;
    position: absolute;
    top: 15px;
    left: 10px;
    background: url('../img/slider.png') no-repeat;
    background-size: 100% !important;
}

#rotate_btn {
    width: 39px;
    height: 57px;
    position: absolute;
    top: 15px;
    right: 72px;
    background: url('../img/rotate_btn.png') no-repeat;
    background-size: 100% !important;
}

#center_btn {
    width: 42px;
    height: 57px;
    position: absolute;
    top: 15px;
    right: 15px;
    background: url('../img/center_btn.png') no-repeat;
    background-size: 100% !important;
}

#edit_card {
    display: none;
}

#edit_card_container {
    width: 317px;
    height: 230px;
    position: absolute;
    top: 30px;
}

#edit_card_menu {
    width: 320px;
    height: 124px;
    position: absolute;
    bottom: 0;
    background: url('../img/edit_card_menu_bg.png') no-repeat;
    background-size: 100% !important;
}

#edit_card_menu_btns {
    padding: 10px 15px;
    display: inline-block;
}

#bw_btn {
    width: 92px;
    height: 38px;
    margin-right: 16px;
    float: left;
    background: url('../img/bw_btn.png') no-repeat;
    background-size: 100% !important;
    background-position: 0px 0px;
}

#rotate_effects_btn {
    width: 84px;
    height: 38px;
    margin-right: 16px;
    float: left;
    background: url('../img/rotate_effects_btn.png') no-repeat;
    background-size: 100% !important;
}

#preview_btn {
    width: 82px;
    height: 38px;
    float: left;
    background: url('../img/preview_btn.png') no-repeat;
    background-size: 100% !important;
}

#card_frames_wrapper {
    width: 300px;
    margin: 5px auto;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}

#card_frames {
    width: 2000px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

#card_frames li {
    margin: 0;
    margin-right: 15px;
    padding: 0;
    background-color: transparent;
    border: 0;
    display: inline;
}

#card_frames li:last-child {
    margin-right: 0;
}

#card_frames li img {
    width: 45px;
    height: auto;
}

#edit_preview {
    width: 320px;
    height: 460px;
    background-color: rgba(0, 0, 0, 0.75);
    display: none;
    z-index: 96;
}

#edit_preview_container {
    width: 317px;
    height: 230px;
    position: absolute;
    top: 100px;
    -webkit-transform: rotate(90deg) scale(1.3);    
    -webkit-backface-visibility: hidden;
    padding: 2px;
}

#edit_preview_close_btn {
    width: 33px;
    height: 32px;
    position: absolute;
    bottom: 17px;
    right: 20px;
    background: url('../img/preview_close_btn.png') no-repeat;
    background-size: 100% !important;
}

#write_text_card_background {
    width: 541px;
    height: 390px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    background: url('../img/backside_bg.png') no-repeat;
    background-size: 100% !important;
}

#text {
    width: 234px;
    height: 280px;
    padding: 0;
    position: absolute;
    top: 20px;
    left: 22px;
    overflow: hidden;
    border: 0;
    font-family: F53;
    font-size: 16px;
    line-height: normal;
    letter-spacing: normal;
}

#text_rows {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 25px;
    left: 5px;
    line-height: normal;
    letter-spacing: normal;    
    word-spacing: normal;
    display: none;
}

#edit_text_menu {
    width: 320px;
    height: 170px;
    background: url('../img/edit_text_menu_bg.png') no-repeat;
    background-size: 100% !important;
    position: absolute;
    bottom: 0;
    display: none;
    z-index: 2;
    -webkit-transform: translate3d(0,0,0);
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
}

#edit_text_menu_btn {
    width: 80px;
    height: 22px;
    margin-left: -40px;
    background: url('../img/edit_text_menu_btn.png') no-repeat 0px 0px;
    background-size: 100% !important;
    position: absolute;
    bottom: 0px;
    left: 50%;
    z-index: 2;
    -webkit-transform: translate3d(0,0,0);
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
}

#edit_text_font {
    width: 268px;
    position: absolute;
    top: 15px;
    left: 26px;
}

.font_btn {
    width: auto !important;
    height: 30px !important;
    margin-right: 10px;
}

.font_btn:last-child { margin-right: 0px; }

#edit_text_color {
    width: 300px;
    position: absolute;
    top: 72px;
    left: 11px;
}

.color_btn {
    width: auto !important;
    height: 30px !important;
    margin-right: 5px;
}

.color_btn:last-child { margin-right: 0px; }

#edit_text_size {
    position: absolute;
    top: 130px;
    left: 20px;
}

.change_text_size_btn {
    width: auto !important;
    height: 30px !important;
}

#edit_text_align {
    position: absolute;
    top: 130px;
    left: 120px;
}

.change_text_align_btn {
    width: auto !important;
    height: 30px !important;
    margin-right: 10px;
}

#write_address_card_background {
    width: 541px;
    height: 390px;
    position: absolute;
    top: 0px;
    right: 0px;
}

.address_info {
    width: 200px;
    height: 100px;
    position: absolute;
    top: 200px;
    right: 20px;
}

.address_info_number {    
    font-size: 13px;
    font-weight: bold;
    color: #4d4f53;    
}

.address_info_text {
    font-size: 13px;
    color: #ff0000;
}

#write_address_menu {
    width: 306px;
    height: 70px;
    padding: 10px 7px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: url('../img/add_address_menu_bg.png') no-repeat;
    background-size: 100%:
}

#search_address_btn , #write_address_btn {
    width: 150px;
    height: 70px;
    background-size: 100% !important;  
}

#write_address_btn {
    float: left;
    background: url('../img/add_address_btn.png') no-repeat;
}

#search_address_btn {
    float: right;
    background: url('../img/search_address_btn.png') no-repeat;
}

#add_address_btn, #edit_address_btn, #search_btn, .back_btn, .ok_btn, .delete_btn {
    width: 148px;
    height: 46px;
    background-size: 100% !important;
}

.back_btn {
    float: left;
    background: url('../img/back_btn.png') no-repeat;
}

.ok_btn {
    float: right;
    background: url('../img/ok_btn.png') no-repeat;
}

.delete_btn {
    float: left;
    background: url('../img/delete_btn.png') no-repeat;
}

#search_btn {
    float: right;
    background: url('../img/search_btn.png') no-repeat;
}

#search_contacts_btn {
    width: 305px;
    height: 50px;
    margin: 0 auto;
    background: url('../img/search_contacts_btn.png') no-repeat;
    background-size: 100% !important;
}

#search_address_result_list {
    height: 390px;
    background-color: #fff;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

#search_address_result_list li {
    height: auto;
}

.name {
    width: 280px;
    margin: 0;
    display: block;
    font-size:17px;
    color: #000;
}

.address {  
    width: 280px;
    margin: 0;
    margin-top: -12px;
    display: block;
    font-size: 15px;
    font-weight: bold;
    color: #7f7f7f;
    wodr-wrap: break-word;
}

.vertical_center {
    width: 320px;
    position: absolute;
    top: 50%;
}

.buttons_container {
    width: 306px;
    height: 50px;
    margin: 20px auto 0 auto;
    position: relative;
}

#preview {

}

#preview_card_holder {
    width: 317px;
    height: 230px;
    position: absolute;
    top: 20px;
}

#preview_card_container {
    width: 317px;
    height: 230px;
    position: absolute;
}

#preview_card_backside {
    width: 317px;
    height: 230px;
    position: absolute;
}

#preview_card_backside .address_info {
    width: auto;
    position: absolute;
    top: 125px;
    right: 20px;
}

#preview_card_backside .address_info_number {
    font-size: 8px;
}

#preview_card_backside .address_info_text {
    font-size: 8px;
}

#preview_text {
    width: 130px;
    height: 300px;
    padding: 0;
    position: absolute;
    top:15px;
    left: 19px;
    border: 0;
    font-family: F53;
    font-size: 7px;  
    word-wrap: break-word;
}

.preview_turn_btn {
    width: 48px;
    height: 48px;
    position: absolute;
    background: url('../img/preview_turn_btn.png') no-repeat;
    background-size: 100% !important;  
    position: absolute;
    bottom: -2px;
    right: -2px;
}

.flip {
    -webkit-perspective: 1000;
    position: relative;
}

.flip .card.flipped {
    -webkit-transform: rotatey(-180deg);
}

.flip .card {
    -webkit-transform-style: preserve-3d;
    -webkit-transition: 0.5s;    
    -webkit-transform: translate3d(0,0,0);
}

.flip .card .face {
    position: absolute;
    -webkit-backface-visibility: hidden ;
    z-index: 2;
}

.flip .card .front {
    position: absolute;
    z-index: 1;
}

.flip .card .back {
    -webkit-transform: rotatey(-180deg);
}

#address_list {
    width: 320px;
    height: 90px;
    position: absolute;
    top: 265px;
    background-color: #fff;
}

#address_list ul {
    height: 49px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

#address_list ul li:first-child {
    border-top: 1px solid #e9e9e9;
}

#address_list ul li:last-child {
    border-bottom: 1px solid #e9e9e9;
}

#address_list li {
    height: auto;
}

.delete_address_btn {
    width: 73px;
    height: 29px;
    margin-top: -15px;
    background: url('../img/delete_address_btn.png') no-repeat;
    background-size: 100% !important;  
    position: absolute;
    top: 50%;
    right: 10px;
}

#calendar {
	width: 300px;
	margin: 0 auto;
    position: relative;
    top: 35px;
    background-color: #e5e6e7;
    -webkit-box-shadow: 1px 1px 2px #8b8c8f;
}

#calendar_header{
    width: 300px;
    height: 32px;
    position: relative;
    background-color: #4d4f53;
}

#calendar_month {
    width: 300px;    
    font-size: 17px;
    font-weight: bold;
    color: #fff;
    line-height: 32px;
    text-align: center;
}

#calendar_left_btn {
    width: 45px;
    height: 32px;
    background: url('../img/calendar_left_btn.png') no-repeat;
    background-size: 100% !important;
    position: absolute;
    top: 0;
    left: 1px;
}

#calendar_right_btn {    
    width: 45px;
    height: 32px;
    background: url('../img/calendar_right_btn.png') no-repeat; 
    background-size: 100% !important;
    position: absolute;
    top: 0;
    right: 1px;
}

#calendar_table {
    width: 300px;
    height: 200px;
}

#calendar_table tr {
    margin: 0;
    padding: 0;
}

#calendar_table tr td{
    width: 41px;
    height: 37px;    
    padding: 0;
    margin: 0;
    background-color: #fff;
    font-size: 22px;
    font-weight: bold;
    color: #4d4f53;
    text-align: center;
    line-height: 37px;
}

#calendar_days td {
    padding: 0;
    margin: 0;
    font-size: 11px !important;
    color: #868589 !important;    
}

.calendar_date_inactive {
    background-color: #efeff0 !important;
    color: #bfc0c4 !important;
}

.calendar_date_selected {
    background-color: #fdbb2f !important;
    color: #fff !important;
    -webkit-box-shadow: -1px -1px #4d4f52;
    text-shadow: 0px -1px -1px #555;
}

#pick_delivery_date_btn {
    width: 305px;
    height: 50px;
    margin: 30px auto;    
    background: url('../img/pick_delivery_date_btn.png') no-repeat; 
    background-size: 100% !important;
}

#preview_send_card_container {
    width: 317px;
    height: 230px;
    position: relative;
    top: 30px;
    background: url('../img/add_images_5.png') no-repeat;
    background-size: 100% !important;
}

#basket {
    width: 304px;
    height: 95px;
    margin: 35px auto;
    position: relative;
    background: url('../img/basket_bg.png') no-repeat;
    background-size: 100% !important;
}

.basket_info {
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 15px;
    left: 10px;
    font-size: 11px;    
    font-weight: bold;
    color: #4d4f53;    
}

.basket_price {    
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 12px;
    right: 10px;
    font-size: 17px;
    font-weight: bold;
    color: #e32d22;
}

#payment {
    padding-top: 10px;
}

#payment_rebate_code {
    color: #ff0000;
}

#payment_agree {
    width: 300px;
    margin: 20px auto;
}

#payment_agree_check {
    width: 34px;
    height: 34px;
    background: url('../img/check_off.png') no-repeat;
    background-size: 100% !important;
    float: left;
}

#payment_agree_text {
    width: 250px;
    float: right;
}

#payment_agree_text p {
    padding: 0;
    margin: 0;
    font-size: 12px;
    color: #4d4f53;
}

#payment_agree_link {
    color: #00b2e4;
}

#payment_ok_btn {  
    width: 148px;
    height: 46px;
    margin: 0 auto;    
    background: url('../img/ok_btn.png') no-repeat;
    background-size: 100% !important;
}

#payment_info {
    width: 300px;
    margin: 5px auto 0 auto;
    padding: 0;
    font-size: 14px;
    color: #4d4f53;
    text-weight: bold;
    text-align: center;
}

#price_terms {
    width: 300px;
    height: 390px;
    padding: 10px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

#price_terms h1 {
    font-size: 13px;
    font-weight: bold;
    color: #fff;
}

#price_terms p {
    margin-top: 0;
    padding-top: 0;
    font-size: 13px;
    color: #eee;
    line-height: 1.3em;
}

#price_terms a {
    color: #00b2e4;
}

#price_terms_ok_btn {
    width: 150px;
    height: 50px;
    margin: 20px auto;
    background: url('../img/ok_btn.png') no-repeat;
    background-size: 100% !important;       
}

#payment_netaxept {
    height: 390px;
    background: url('../img/payment_bg.png') repeat-y;
}

#payment_netaxept_info {
    width: 160px;
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 10px;
    color: #ff0000;
    z-index: 99;
}

#payment_netaxept_iframe_container {
    width: 320px;
    height: 390px;
    position: absolute;
    top: -50px;
}

#payment_netaxept_iframe {
    width: 100%;
    height: 100%;
}

#payment_netaxept_back_btn {
    width: 303px;
    height: 47px;
    margin-left: -152px;
    position: absolute;
    top: 390px;
    left: 50%;
    z-index: 99;
    background: url('../img/back_large_btn.png') no-repeat;
    background-size: 100% !important;
}

#reciept_basket {
    width: 304px;
    height: 177px;
    margin: 10px auto;
    position: relative;
    background: url('../img/reciept_bg.png') no-repeat;
    background-size: 100% !important;
}

#reciept_basket_text {
    position: absolute;
    top: 55px;
    left: 10px;
    font-size: 10px;
    color :#4d4f53;
}

#send_more_btn {
    width: 305px;
    height: 50px;
    margin: 10px auto;
    background: url('../img/send_more_btn.png') no-repeat;
    background-size: 100% !important; 
}

#facebook_btn, #twitter_btn {
    width: 150px;
    height: 30px;
    margin-left: 10px;
    background-size: 100% !important;
}

#facebook_btn {
    background: url('../img/facebook_btn.png') no-repeat;
}

#twitter_btn {
    background: url('../img/twitter_btn.png') no-repeat;
}

.clearfix:after { content: "\00A0"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
.clearfix{ display: inline-block;}
html[xmlns] .clearfix { display: block;}
* html .clearfix{ height: 1%;}
.clearfix {display: block}

@media screen and (orientation:portrait) and (device-aspect-ratio:2/3) {
    body {
        width: 320px;
        height: 480px;
        -webkit-background-size: cover !important;
        -moz-background-size: cover !important;
        -o-background-size: cover !important;
        background-size: cover !important;
    }
    
    .step {
        min-height: 410px;
    }
    
    .overlay {
        min-height: 410px;
    }
    
    #loader {
        height: 480px;
    }
    
    #start {
        height: 480px;
    }
    
    #edit_image_container {
        height: 306px;
    }
    
    #address_list {
        height: 145px;
    }
    
    #address_list ul {
        height: 94px;
    }
}

@media screen and (orientation:portrait) and (device-aspect-ratio:40/71) {

    body {
        width: 320px;
        height: 548px;
        -webkit-background-size: cover !important;
        -moz-background-size: cover !important;
        -o-background-size: cover !important;
        background-size: cover !important;
    }
    
    .step {
        min-height: 478px;
    }
    
    .overlay {
        min-height: 478px;
    }
    
    #loader {
        height: 548px;
    }
    
    #start {
        height: 548px;
    }
    
    #edit_image_container {
        height: 394px;
    }
    
    #edit_preview {
        height: 548px;
    }
    
    #write_text_card_background {
        width: 672px;
        height: 483px;
        top: 0px;
        left: 0px;
    }
    
    #text {
        width: 290px;
        top: 31px;
        left: 26px;
    }

    #text_rows {
        top: 31px;
    }
    
    #write_address_card_background {
        width: 672px;
        height: 483px;
        top: 0px;
        right: 0px;
    }
    
    #address_info {
        top: 200px;
        right: 40px;
    }

    #address_list {
        height: 213px;
    }
    
    #address_list ul {
        height: 172px;
    }
}